{% extends 'base/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block body %}
      <div class="img_left"></div>
      <div class="conteudo_right">
        <div class="box_login">
          <form method="post" action="{% url 'core:ativos_page' %}">
            {% csrf_token %}
          <label>E-mail</label><br />
          <input type="text" placeholder="Username" class="input" />
          <br />
          <br />

          <input type="password" placeholder="Password" class="input mb-10" />
          <br />
            <button type="submit" class="button_login">Logar</button>
          <a href="#"> Esqueci minha senha </a>
          </form>
        </div>
      </div>

{% endblock body %}