{% extends 'base/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block body %}
      <div class="img_left"></div>
      <div class="conteudo_right">
        <div class="box_login">
          <label>E-mail</label><br />
          <input type="text" placeholder="Username" class="input" />
          <br />
          <br />

          <input type="password" placeholder="Password" class="input mb-10" />
          <br />
          <button class="button_login">LOGIN</button> <br />
          <a href="#"> Esqueci minha senha </a>
        </div>
      </div>

{% endblock body %}