<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/imagem/css/flexbox.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <div class="img_left"></div>

      <div class="conteudo_right">
        <div class="box_login">
          <label>E-mail</label><br />
          <input type="text" placeholder="Username" class="input" />
          <br />
          <br />

          <input type="password" placeholder="Password" class="input mb-10" />
          <br />
          <button class="button_login">LOGIN</button> <br />
          <a href="#"> Esqueci minha senha </a>
        </div>
      </div>
    </div>
  </body>
</html>
