{% extends "base/base.html" %}
{% load static %}
{% block title %}Ativos{% endblock title %}
{% block body %}
  <body>
    <section class="tela-input">
      <div class="input">
        <label for="ativo"
          >Ativo
          <select class="input-ativo" name="acao">
            <option value="PETR4.SA">PETR4</option>
            <option value="VALE3.SA">VALE3</option>
            <option value="ITUB4.SA">ITUB4</option>
            <option value="BBAS3.SA">BBAS3</option>
            <option value="ABEV3.SA">ABEV3</option>
            <option value="BBDC4.SA">BBDC4</option>
            <option value="BBDC3.SA">BBDC3</option>
            <option value="EURUSD=X">EURUSD</option>
            <option value="USDBRL=X">USDBRL</option>
          </select>
        </label>
        <div class="date">
        <label
          >Data Inicial
          <input type="date" class="data-inicial" />
        </label>

        <label
          >Data Final
          <input type="date" class="data-final" />
        </label>
      </div>
        <input type="submit" class="search" value="Pesquisar" />
      </div>
      <div class="div"></div>
    </section>
  </body>
</html>
