* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #1B1F27;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  font-size: 18px;
}

.tela-input {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
  font-weight: bold;
  height: 100vh;
  width: 100vh;
  
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #181920;
  border-radius: 10px;
  width: 355px;
  height: 325px;
  box-shadow: 1px 2px 4px 2px grey;
}

.input-ativo {
  display: flex;
  text-align: center;
  padding: 10px;
  background-color: #a1a5ad;
  border-radius: 5px;
  width: 130px;
  margin-bottom: 10px;
  border: none;
}

.data-inicial {
  background-color: #a1a5ad;
  padding: 10px;
  border-radius: 5px;
  width: 130px;
  border: none;
}

.data-final {
  background-color: #a1a5ad;
  padding: 10px;
  border-radius: 5px;
  width: 130px;
  border: none;
}

.search {
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  background-color: #647fb4e5;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  margin-top: 50px;
  border: none;
  width: 130px;
  border-radius: 5px;
  margin-bottom: 25px;
  border: solid 1px whitesmoke;
}

.date {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 200px;
  margin-top: 30px;
}